body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#general{
    position: absolute;
    width: 400px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -200px;
}

#u{
    position: absolute;
    width: 39.44px;
    height: 57.22px;
    background-color: white;
}

#dos{
    position: absolute;
    width: 83.88px;
    height: 280px;
    background-color: yellow;
    left: 44.44px;
}

#tres{
    position: absolute;
    width: 83.88px;
    height: 88.33px;
    background-color: royalblue;
    left: 133.32px;
}

#quatre{
    position: absolute;
    width: 83.88px;
    height: 181.66px;
    background-color: red;
    left: 222.2px;
}

#cinc{
    position: absolute;
    width: 39.44px;
    height: 57.22px;
    background-color: yellow;
    left: 311.08px;
}

#sis{
    position: absolute;
    width: 44.44px;
    height: 26.11px;
    background-color: yellow;
    left: 355.52px;
}

#set{
    position: absolute;
    width: 44.44px;
    height: 26.11px;
    background-color: red;
    top: 31.11px;
    left: 355.52px;
}

#vuit{
    position: absolute;
    width: 39.44px;
    height: 150.55px;
    background-color: white;
    top: 62.22px;
}

#nou{
    position: absolute;
    width: 39.44px;
    height: 26.11px;
    background-color: white;
    top: 62.22px;
    left: 311.08px;
}

#deu{
    position: absolute;
    width: 44.44px;
    height: 26.11px;
    background-color: white;
    top: 62.22px;
    left: 355.52px;
}

#onze{
    position: absolute;
    width: 83.88px;
    height: 186.66px;
    background-color: yellow;
    top: 93.33px;
    left: 133.32px;
}

#dotze{
    position: absolute;
    width: 88.88px;
    height: 88.33px;
    background-color: red;
    top: 93.33px;
    left: 311.08px;
}

#tretze{
    position: absolute;
    width: 39.44px;
    height: 26.11px;
    background-color: red;
    top: 186.66px;
    left: 222.2px;
}

#catorze{
    position: absolute;
    width: 39.44px;
    height: 26.11px;
    background-color: red;
    top: 186.66px;
    left: 266.64px;
}

#quinze{
    position: absolute;
    width: 39.44px;
    height: 93.33px;
    background-color: yellow;
    top: 186.66px;
    left: 311.08px;
}

#setze{
    position: absolute;
    width: 44.44px;
    height: 93.33px;
    background-color: yellow;
    top: 186.66px;
    left: 355.52px;
}

#disset{
    position: absolute;
    width: 39.44px;
    height: 26.11px;
    background-color: white;
    top: 217.77px;
}

#divuit{
    position: absolute;
    width: 39.44px;
    height: 62.22px;
    background-color: royalblue;
    top: 217.77px;
    left: 222.2px;
}

#dinou{
    position: absolute;
    width: 39.44px;
    height: 62.22px;
    background-color: red;
    top: 217.77px;
    left: 266.64px;
}

#vint{
    position: absolute;
    width: 39.44px;
    height: 31.11px;
    background-color: white;
    top: 248.88px;
}